body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  background-color: #fcfafa;
  color: #222;
}

header {
  text-align: center;
  background-color: #f50101;
  color: white;
  padding: 20px;
}

.logo {
  height: 60px;
}

nav {
  background-color: #77000e;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background-color: white;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
}

.main-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

hr {
  margin: 25px 0;
}

footer {
  text-align: center;
  background-color: #77000e;
  color: white;
  padding: 10px;
  font-size: 14px;
}
